<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center video">VIDEO</div>
            <div class="col-md-6 statement">
                <div>
                    <h1 class="text-center font-dancing-script">A healthy lifestyle should be simple and enjoyable for
                        everybody </h1>
                    <app-signature></app-signature>
                </div>
            </div>
        </div>
    </div>
</section>