<section id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="social">
                        <div>
                            <i class="fab fa-facebook fa-3x"></i>
                            <i class="fab fa-twitter fa-3x"></i>
                            <i class="fab fa-youtube fa-3x"></i>
                            <i class="fab fa-instagram fa-3x"></i>
                            <i class="fab fa-tiktok fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h3>
                        SERVICES
                    </h3>
                    <ul>
                        <li>Personal Training</li>
                        <li>Online Personal Training</li>
                        <li>Corporate Fitness Planning</li>
                        <li>One-On-One Sessions</li>
                        <li>Group Classes</li>
                        <li>Fitness insight and plans</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>
                        COMPANY
                    </h3>
                    <ul>
                        <li>About Us</li>
                        <li>Community Blog</li>
                        <li>Terms And Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Our Team</li>

                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>
                        SUPPORT
                    </h3>
                    <ul>
                        <li>Contact Us</li>
                        <li>Client Login</li>
                        <li>Our Social Network</li>

                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>
                        SHOP
                    </h3>
                    <ul>
                        <li>Books</li>
                        <li>Corevi Gear</li>
                        <li>Paid Videos</li>
                        <li>Other Products</li>

                    </ul>
                </div>

                <div class="col-lg-4">
                    <img src="../assets/images/logo.svg" [routerLink]="['/']" />
                    <div class="phone-numbers">
                        <h3>Come visit us at : -</h3>
                        <div class="icon-text">
                            <mat-icon>phone_iphone</mat-icon>
                            <h5><b>04269856223</b></h5>
                        </div>
                        <div class="icon-text">
                            <mat-icon>call</mat-icon>
                            <h5><b>03-45641465</b></h5>
                        </div>
                        <div class="icon-text">
                            <mat-icon>mail</mat-icon>
                            <h5><b>corevi.townsend@gmail.com</b></h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>