<section id="about">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>About Us</h1>
                    <p>Matt works as a personal trainer. He is also her personal trainer. She is also a personal
                        trainer.
                        Matt is also a personal trainer.He works as a personal trainer. He is also her personal
                        trainer.
                    </p>

                    <p> Matt works as a personal trainer. He is also her personal trainer. She is also a personal
                        trainer.
                        Matt is also a personal trainer.He works as a personal trainer. He is also her personal
                        trainer.Matt works as a personal trainer. He is also her personal trainer. She is also a
                        personal trainer.
                        Matt is also a personal trainer.He works as a personal trainer. He is also her personal
                        trainer.</p>

                </div>
                <div class="col-lg-5">
                    <div>
                        <img src="../assets/images/about-1.jpg" />
                    </div>
                    <div>
                        <img src="../assets/images/about-2.jpg" />
                    </div>

                </div>
            </div>

        </div>
    </header>



    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h2>
                    Matt works as a personal trainer. He is also her personal trainer.
                </h2>
                <img src="../assets/images/vector-gym.jpg" />
            </div>

            <div class="col-lg">
                <h5>WHO ARE WE</h5>
                <p>Matt works as a personal trainer. He is also her personal trainer. She is also a personal trainer.
                    Matt is also a personal trainer.He works as a personal trainer. He is also her personal trainer.
                </p>
                <h3>Matt works as a personal trainer. He is also her personal trainer. She is also a personal trainer.
                    Matt is also a personal trainer.He works as a personal trainer. He is also her personal trainer.
                </h3>
                <p> Matt works as a personal trainer. He is also her personal trainer. She is also a personal trainer.
                    Matt is also a personal trainer.He works as a personal trainer. He is also her personal trainer.Matt
                    works as a personal trainer. He is also her personal trainer. She is also a personal trainer.
                </p>
            </div>
        </div>


    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="counter-box">
                    <app-counter [maxnumber]="1580" [interval]="1" [speed]="10"></app-counter>
                    <app-counter [maxnumber]="280" [interval]="1" [speed]="10"></app-counter>
                    <app-counter [maxnumber]="180" [interval]="1" [speed]="10"></app-counter>
                </div>
            </div>

        </div>
    </div>

</section>