<section id="contact">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1>Contact Us</h1>
                    <p>If you have any questions contact us.</p>
                </div>
                <div class="col-lg horizontal-flex-center">
                    <img src="../assets/images/vector-contact.jpg" />
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="contact-form">
                    <h2>Have Question? Write a Message</h2>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>badge</mat-icon>Full
                                    name*</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md"><mat-form-field appearance="fill">
                                <mat-label><mat-icon>phone_iphone</mat-icon>Mobile number*</mat-label>
                                <input matInput>
                            </mat-form-field></div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>mail</mat-icon>Email address*</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>forum</mat-icon>Textarea</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <button mat-raised-button color="primary">Submit</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg">
                <h1>Inbound contact</h1>
                <p>We will catch you as early as we receive the message</p>
                <div class="phone-numbers">
                    <p class="accent">We're available 9 to 5. Call Now.</p>
                    <span>04269856223</span>
                    <span>04589565666</span>
                </div>
            </div>
        </div>
    </div>
</section>