<section id="contact">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Contact Us</h1>
                    <p>If you have any questions contact us.</p>

                </div>
                <div class="col-lg-5">
                    <div>
                        <img src="../assets/images/contact-1.jpg" />
                    </div>
                    <div>
                        <img src="../assets/images/contact-2.jpg" />
                    </div>

                </div>
            </div>

        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <form [formGroup]="contactForm" (ngSubmit)="submit(contactForm.value)">
                    <h1>CONTACT US</h1>
                    <h3>Have Question? Write a Message</h3>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>badge</mat-icon>Full
                                    name</mat-label>
                                <input matInput formControlName="fullName">
                            </mat-form-field>
                        </div>
                        <div class="col-md"><mat-form-field appearance="fill">
                                <mat-label><mat-icon>phone_iphone</mat-icon>Mobile number</mat-label>
                                <input matInput formControlName="mobileNumber">
                            </mat-form-field></div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>mail</mat-icon>Email address</mat-label>
                                <input matInput formControlName="emailAddress" email="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="fill">
                                <mat-label> <mat-icon>forum</mat-icon>Message</mat-label>
                                <textarea matInput formControlName="message"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="valid" (mouseover)="validForm()">
                                <button mat-raised-button color="primary"
                                    [disabled]="contactForm.invalid">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg">
                <h2>Inbound contact</h2>
                <p>We will catch you as early as we receive the message</p>
                <div class="phone-numbers">
                    <p class="accent">We're available 9 to 5. Call Now.</p>
                    <div class="icon-text">
                        <mat-icon>phone_iphone</mat-icon>
                        <h5><b>04269856223</b></h5>
                    </div>
                    <div class="icon-text">
                        <mat-icon>call</mat-icon>
                        <h5><b>03-45641465</b></h5>
                    </div>
                    <div class="icon-text">
                        <mat-icon>mail</mat-icon>
                        <h5><b>corevi.townsend@gmail.com</b></h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>