<ng-container *ngIf="condition; else mobileMenu">
  <section id="menu">
    <div class="container">
      <img src="../assets/images/logo.svg" [routerLink]="['/']" />
      <div>
        <button mat-button [routerLink]="['/about']">About</button>


        <button mat-button [matMenuTriggerFor]="belowMenu">Library</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Book-1</button>
          <button mat-menu-item>Book-2</button>
        </mat-menu>
        <button mat-button [routerLink]="['/shop']">Shop</button>
        <button mat-button [routerLink]="['/contact']">Contact</button>
        <button mat-button>Login</button>

      </div>
    </div>
  </section>

</ng-container>
<ng-template #mobileMenu>
  <section id="menu">
    <div class="container">
      <img src="../assets/images/logo.svg" class="img-fluid" />
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>About</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="belowMenu">
            <mat-icon>book</mat-icon>
            <span>Library</span>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Book-1</button>
            <button mat-menu-item>Book-2</button>
          </mat-menu>
          <button mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span>Shop</span>
          </button>
          <button mat-menu-item>
            <mat-icon>call</mat-icon>
            <span>Contact</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </section>
</ng-template>