// Custom Theming for Angular Material
// Corevi colours :- 
// Primary = #098FFC (Dogger Blue)
// Secondary = #001C88 (Midnight blue)
// Body = # #FFFFFF (White)

// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import './assets/styles/paletteWhite';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@import "./assets/styles/constants.scss";
// Corevi Constants

@import "./assets/styles/fonts.scss";
// Corevi Fonts




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$corevi-primary: mat.define-palette($md-corevi-midnight-blue);
$corevi-accent: mat.define-palette($md-corevi-dogger-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$corevi-warn: mat.define-palette($md-corevi-warn);

$corevi-body-typography: mat.define-typography-config($font-family: 'M PLUS Rounded 1c',
  );
$corevi-statement-typography: mat.define-typography-config($font-family: 'Dancing Script',

  );

$my-custom-level: mat.define-typography-level($font-family: Roboto,
    $font-weight: 400,
    $font-size: 1rem,
    $line-height: 1,
    $letter-spacing: normal,
  );

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$corevi-theme: mat.define-light-theme((color: (primary: $corevi-primary,
        accent: $corevi-accent,
        warn: $corevi-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($corevi-theme);

/* You can add global styles to this file, and also import other style files */

// * {
//   box-sizing: border-box;
//   outline: 1px solid rgb(174, 255, 0) !important;
// }

@include mat.core($corevi-body-typography);
// @include mat.button-typography($corevi-custom-typography);


// Master styles start

html,


img {
  max-width: 100%;
  height: auto;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {
  position: relative;
  padding-left: 25px;
  letter-spacing: 0.11em;
  color: $secondary-100 !important;
}

h5:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 2px;
  background-color: $secondary-100;
}

p {
  font-size: 1.06em;
  color: $secondary-100;
  font-weight: 600;
  opacity: 0.7;
}

// Master styles end
//Sections start
#menu {
  background-color: $secondary-100;

  .container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin-left: 0.3em;
      height: 30px;
    }
  }
}

#carousel {
  display: flex;
  justify-content: center;
}

#signature {
  margin: 0 50px;

  .round-slab {
    width: 100%;
    height: 13px;
    background-color: $primary-100;
    position: relative;
  }

  .round-slab::before {
    content: '';
    position: absolute;
    top: 0;
    right: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $primary-100;
  }

  .round-slab::after {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $primary-100;
  }

  @keyframes leftToRight {
    0% {
      left: -13px;
    }

    20% {
      left: calc(100% - 13px);
    }

    100% {
      left: -13px;
    }
  }

  @keyframes rightToLeft {
    0% {
      right: -13px;
    }

    20% {
      right: calc(100% - 13px);
    }

    100% {
      right: -13px;
    }
  }

  .circle-left {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: $secondary-100;
    border-radius: 50%;
    left: -13px;
    z-index: 1;

    animation: 7s 1 leftToRight;
  }

  .circle-right {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: $secondary-100;
    border-radius: 50%;
    right: -13px;
    z-index: 1;

    animation: 7s 1 rightToLeft;
  }
}

#header {
  .video {
    height: 400px;
    border: 4px solid $primary-100;
  }

  .statement {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

#videos {
  .col-md {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

#about {
  .about-container {
    position: relative;
  }


  .col-lg-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px 30px;
  }

  .about {
    background-repeat: no-repeat;
    background-color: #FFDEE9;
    background-image: linear-gradient(to right top, #42d3fd, #85d9ff, #b1dfff, #d2e6ff, #eaefff, #eaefff, #eaefff, #eaefff, #d2e6ff, #b1dfff, #85d9ff, #42d3fd);
    z-index: 3;
  }

  .about:after {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    opacity: .5;
    background-image: url("./assets/images/about-bg.svg");
  }

  .counter-box {
    padding: 30px 0;
    color: $white-100;
    display: flex;
    justify-content: space-around;
    background-color: $tertiary-100;
    border-radius: $border-radius;
  }

  img {
    border-radius: $border-radius;
  }



}

//Sections End
.font-dancing-script {
  @include mat.typography-level($corevi-statement-typography, 'body-2');
  font-size: 38px;
  line-height: 3rem;
  letter-spacing: 0.03em !important;
}

.spacer-1 {
  height: 10px;
  min-width: 100%;
}

.spacer-2 {
  height: 20px;
  min-width: 100%;
}

.spacer-3 {
  height: 30px;
  min-width: 100%;
}

.spacer-4 {
  height: 40px;
  min-width: 100%;
}

.spacer-5 {
  height: 50px;
  min-width: 100%;
}

.spacer-6 {
  height: 60px;
  min-width: 100%;
}

.spacer-7 {
  height: 70px;
  min-width: 100%;
}

.spacer-8 {
  height: 80px;
  min-width: 100%;
}

.spacer-9 {
  height: 90px;
  min-width: 100%;
}

.spacer-10 {
  height: 100px;
  min-width: 100%;
}

.spacer-11 {
  height: 110px;
  min-width: 100%;
}

.spacer-12 {
  height: 120px;
  min-width: 100%;
}