<app-header></app-header>

<section id="videos">
    <div class="container">
        <div class="row">
            <h1>Videos</h1>
            <div class="col-lg">
                <iframe width="406" height="229" src="https://www.youtube.com/embed/oMilfXjvuAs"
                    title="Create Accountability" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg">
                <iframe width="406" height="229" src="https://www.youtube.com/embed/Sb58EmNs5O8"
                    title="Fasting vs Frequency" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg">
                <iframe width="406" height="229" src="https://www.youtube.com/embed/h6tg19K8cq4"
                    title="Should you count macros?" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


        </div> <button mat-raised-button color="primary">View all</button>
    </div>

</section>
<app-footer></app-footer>